* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(90deg, #f4511e, #511ff4);
  background: linear-gradient(90deg, #f4511e, #511ff4);
  background-size: 200% 200%;
  animation: rotate 10s ease infinite;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    background-position: 0 50%;
    filter: hue-rotate(0deg);
  }

  50%{
    background-position: 100% 50%;
  }

  100% {
    background-position:0 50%;
    filter: hue-rotate(360deg);
  }
}
